@model ResultProcessor.ViewModels.ManageUserViewModel
@{
    ViewData["Title"] = "Index";


    int adminSno = 1;
    int userSno = 1;
}

<h2>User Manager</h2>

<h2>Administrators</h2>
<table class="table table-bordered table-condensed table-responsive table-striped">
    <thead>
        <tr>
            <td>SNo</td>
            <td>User Name</td>
            <td>Email</td>
        </tr>
    </thead>
    @foreach (var user in Model.Administrators)
    {
       
        <tr>
            <td>@adminSno</td>
            <td>@user.UserName</td>
            <td>@user.Email</td>
        </tr>
        adminSno += 1;
    }
</table>
<br />
<h2>Every other User</h2>
<table class="table table-bordered table-condensed table-responsive table-striped">
    <thead>
        <tr>
            <td>SNo</td>
            <td>User Name</td>
            <td>Email</td>
        </tr>
    </thead>

    @foreach (var user in Model.Everyone)
    {

        <tr>
            <td>@userSno</td>
            <td>@user.UserName</td>
            <td>@user.Email</td>
        </tr>
        userSno += 1;
    }
</table>