@model ResultProcessor.ViewModels.ManageUserViewModel
@{
    ViewData["Title"] = "Index";


    int adminIndex = 1;
    int userIndex = 1;
    int roleIndex = 1;
}

<h2>User Manager</h2>

<h2>Administrators</h2>
<table class="table table-bordered table-condensed table-responsive table-striped">
    <thead>
        <tr>
            <td>SNo</td>
            <td>User Name</td>
            <td>Email</td>
        </tr>
    </thead>
    @foreach (var user in Model.Administrators)
    {

        <tr>
            <td>@adminIndex</td>
            <td>@user.UserName</td>
            <td>@user.Email</td>
        </tr>
        adminIndex += 1;
    }
</table>
<br />
<h2>Every other User</h2>
<table class="table table-bordered table-condensed table-responsive table-striped">
    <thead>
        <tr>
            <td>SNo</td>
            <td>User Name</td>
            <td>Email</td>
        </tr>
    </thead>

    @foreach (var user in Model.Everyone)
    {

        <tr>
            <td>@userIndex</td>
            <td>@user.UserName</td>
            <td>@user.Email</td>
        </tr>
        userIndex += 1;
    }
</table>

<br />
<h2>User Roles</h2>
<table class="table table-bordered table-condensed table-responsive table-striped">
    <thead>
        <tr>
            <td>SNo</td>
            <td>Role Name</td>
        </tr>
    </thead>

    @foreach (var role in Model.Roles)
    {

        <tr>
            <td>@roleIndex</td>
            <td>@role.NormalizedName</td>
        </tr>
        roleIndex += 1;
    }
</table>